{% extends 'base.html' %}
{% block title %} ..::Contacto::.. {% endblock %}


   {% block content %}
       {% if info_enviado %}
            <h2>Grecias por contactarnos :)</h2>
            la informacion obtenida es:
            <p>Email:</p>{{email}}
            <p>Titulo:</p>{{titulo}}
            <p>Texto</p>{{texto}}


        {% else %}


        	<form action="." method="post">
        	   {% csrf_token %}
              {{form.as_p}}
              <input type="submit">
        	</form>

        {% endif %}
    {% endblock %}